.container {
  height: 112px;
  border-radius: 10px;
  font-weight: 700;
  margin: 1rem 0 1.25rem 0;
}

.cardSilver {
  color: #606060;
  background: linear-gradient(
    -25deg,
    rgba(141, 141, 141, 1) 0%,
    rgba(237, 237, 237, 0.93) 40%,
    rgba(218, 218, 218, 1) 100%
  );
}

.cardGold {
  color: #715200;
  background: linear-gradient(
    -25deg,
    rgba(206, 149, 0, 1) 0%,
    rgba(255, 247, 0, 0.93) 40%,
    rgba(255, 214, 0, 1) 100%
  );
}

.cardDiamond {
  color: #ffffff;
  background: linear-gradient(
    -25deg,
    rgba(0, 74, 142, 1) 0%,
    rgba(0, 137, 255, 0.93) 40%,
    rgba(0, 109, 210, 1) 100%
  );
}

.cardPlatinum {
  color: #dddddd;
  background: linear-gradient(
    -25deg,
    rgb(26, 26, 26) 0%,
    rgba(73, 73, 73, 0.93) 40%,
    rgb(63, 63, 63) 100%
  );
}

.tierName {
  font-size: 1, 3125rem;
}

.pointsNumber {
  font-size: 2.5rem;
}

.pointsText {
  font-size: 1rem;
}
